.navbar-container {
  position: absolute;
  z-index: 10;
  padding: 0 12vh;
  display: flex;
  width: 100vw;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  background-color: $background-1;
  ul {
    display: flex;
    flex-direction: row;
    li {
      margin: 0 16px;
    }
  }
  a {
    @include typography('monarcha', 18px);
    color: $neutral-1;
  }
}