.recommendations {
    padding-top: 80px;
    padding-left: 12vh;
    padding-right: 12vh;
    padding-bottom: 56px;
    background-color: $background-1;
    min-height: 100vh;
    
    h1 {
        margin: 0;
        margin-bottom: 40px;
    }
    
    li {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        
        .infos {
            padding: 16px;
            border-radius: 16px;
            background-color: $neutral-5;
            margin-right: 16px;
        }
        
        .link {
            color: $secondary-1;
            font-weight: bold;
            display: flex;
            align-items: center;
            
            svg {
                margin-left: 8px;
                path {
                    stroke: $secondary-1;
                }
            } 
        }
        
        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }
}