.single-project {
    padding-top: 160px;
    background-color: #FFFDF8;
    
    .paragraph {
        opacity: 0.72;
    }
    
    h2 {
        margin: 0;
        margin-bottom: 8px;
    }
    
    &__go-back {
        text-transform: uppercase;
        color: $secondary-1;
        display: flex;
        align-items: center;
        
        svg path{
            stroke: $secondary-1;
        }
    }
    
    &__overview {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-bottom: 48px;
        
        h1 {
            margin: 0;
            margin-bottom: 32px;
        }
        
        & > div {
            width: 45%;
        }
    }
    
    &__jobs {
        border-radius: 16px;
        overflow: hidden;
        margin-bottom: 32px;
        
        li {
            background-color: $neutral-5;
            padding: 32px;
            position: relative;
            font-weight: bold;
            
            span:first-child {
                margin-right: 56px;
            }
            
            &::after {
                content: '';
                position: absolute;
                top: 100%;
                left: 32px;
                background-color: #26312A;
                width: calc(100% - 64px);
                height: 1px;
                z-index: 3;
                opacity: 0.08;
            }
        }
    }
    
    &__tag-wrapper {
        display: flex;
        margin-bottom: 16px;
    }
    
    &__tag {
        display: inline-block;
        padding: 8px 16px;
        @include subTitle("nunito-sans-bold");
        color: $neutral-2;
        background-color: $neutral-5;
        border-radius: 80px;
        
        &:not(:last-child) {
            margin-right: 8px;
        }
    }
    
    &__details-wrapper {
        background-color: $white;
        padding: 48px 0;
    }
    
    &__details {
        display: flex;
        justify-content: space-between;
        
        & > div {
            width: 45%;
        }
    }
    
    &__quote {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 120px;
        padding-bottom: 120px;
        
        p {
            @include font-size(32px);
            color: $neutral-1;
            max-width: 846px;
            margin-bottom: 40px;
            font-family: "monarcha-bold";
            line-height: 120%;
        }
        
        span {
            color: $secondary-1;
        }
    }
    
    &__company-infos {
        margin-top: 16px;
    }
    
    &__company-single-info {
        color: $neutral-1;
        opacity: 1!important;
        
        &:not(:first-child) {
            padding-left: 32px;
            position: relative;
            
            &::before {
                content: '|';
                position: absolute;
                bottom: 0;
                left: 16px;
            }
        }
    }
    
    &__cta {
        max-width: 522px;
        margin: 0 auto;
        padding-bottom: 48px;
    }
    
    &__pop-up-wrapper, {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 20;
        
        &::before {
            content: '';
            background-color: rgba($color: $neutral-1, $alpha: 0.4);
            width: 100vw;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
        }
    }
    
    &__pop-up {
        width: 55%;
        background-color: $background-1;
        height: 100vh;
    }
    
    &__questions {
        padding: 24px 0px;
        
    }
    
    &__questions-header {
        margin-bottom: 48px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        button {
            width: 522px;
            background: none;
            border: solid 2px $secondary-3;
            padding: 16px 32px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    
    &__questions-list {
        li {
            &:not(:last-child) {
                margin-bottom: 40px;
            }
            
            .paragraph {
                color: $neutral-1;
                opacity: 1;
                margin-bottom: 16px;
            }
            
            small {
                @include typography('nunito-sans', 16px);
                color: $neutral-2;
                display: block;
            }
            
            .question {
                position: relative;
                padding: 8px 32px;
                
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 2px;
                    height: 100%;
                    background-color: $secondary-1;
                }
            }
            
            .answer {
                margin-top: 16px;
                @include typography('nunito-sans', 18px);
                padding: 8px 24px;
                border-radius: 60px;
                background-color: $neutral-5;
                display: inline-block;
            }
        }
    }
    
    &__questions-ask {
        .paragraph {
            margin-bottom: 24px;
        }
        
        label {
            display: block;
            color: $neutral-1;
            margin-bottom: 16px;
        }
        
        textarea {
            width: 100%;
            padding: 24px 32px;
            @include typography('nunito-sans', 20px);
            border: none;
            border-radius: 16px;
            margin-bottom: 24px;
        }
    }
}

.application {
    padding: 56px 80px;
    
    h2 {
        margin: 0;
        margin-bottom: 16px;
        @include typography("monarcha", 40px);
    }
    
    &__sentence {
        margin-bottom: 32px;
        color: $neutral-2;
        opacity: 1!important;
    }
    
    &__fields {
        padding: 16px 24px;
        background-color: $neutral-5;
        border-radius: 16px;
        @include typography("nunito-sans", 24px);
        margin-bottom: 32px;
    }
    
    &__input {
        display: inline-flex;
        align-items: center;
        background-color: $white;
        padding: 8px 24px;
        border-radius: 40px;
        margin-bottom: 16px;
        
        select, input {
            @include typography("nunito-sans-bold", 24px);
            border: none;
        }
        
        input[type="number"] {
            width: 70px;
        }
    }
    
    &__form-buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .btn-primary {
            width: 60%;
        }
    }
    
    &__cancel {
        display: inline-block;
        font-weight: bold;
        @include typography("nunito-sans-bold", 20px);
        color: $neutral-2;
        width: auto;
        background: none;
    }
    
    &__recommendation-job {
        background-color: $neutral-5;
        padding: 16px 32px;
        border-radius: 16px;
        font-weight: bold;
        margin-bottom: 8px;
        
        & > div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            &.has-line {
                padding-top: 5px;
                padding-bottom: 16px;
                position: relative;
                margin-bottom: 8px;
                
                &::after {
                    content: '';
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background-color: $neutral-4;
                }
            }
            
            & > div span:first-child {
                margin-right: 16px;
            }
            
        }
        
        & > p {
            padding: 13px 0;
            display: flex;
            justify-content: space-between;
            
            .details {
                color: $neutral-2;
            } 
        }
    }
    
    &__recommendation-job-wrapper {
        margin-bottom: 24px;
    }
    
    &__recommendation-button {
        display: inline-flex;
        align-items: center;
        width: auto;
        background: none;
        color: $secondary-1;
        
        svg {
            position: static;
            margin-left: 16px;
            
            path {
                stroke: $secondary-1;
            }
        }
    }
    
    &__job-recommendation {
        @include typography('nunito-sans', 24px);
        color: $neutral-1;
        margin-bottom: 24px;
        
        span {
            font-weight: bold;
        }
    }
    
    &__network {
        margin-bottom: 24px;
        background-color: $neutral-5;
        border: solid 2px $neutral-4;
        border-radius: 16px;
        overflow: hidden;
        
        ul {
            
            li {
                &:hover, &.selected {
                    position: relative;
                    
                    .name {
                        color: $secondary-1;
                    }
                    
                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0px;
                        width: 4px;
                        height: 100%;
                        background-color: $secondary-1;
                    }
                }
                
                .jobs {
                    display: inline-grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    column-gap: 8px;
                    text-align: left;
                    font-family: 'nunito-sans';
                    
                    span {
                        color: $neutral-2;
                        
                        &:first-child {
                            color: $neutral-1;
                        }
                    }
                }
                
                button {
                    background: none;
                    border: none;
                    padding: 13px 24px;
                    border-radius: 0;
                    display: inline-grid;
                    grid-template-columns: 1fr 4fr;
                    justify-content: space-between;
                }
            } 
        }
    }
}