@import "dir.scss";

*,*::before,*::after {
  box-sizing: border-box;
}

html {
  font-family: "nunito-sans";
  color: $neutral-1;
}

.layout {
  // max-width: 1440px; 
  // margin: 0 auto;
  padding-left: 12vh;
  padding-right: 12vh;
}